:root {
    --color-accent:#2196F3;
    --color-white: #FFFFFF;
    --color-main-dark: #212121;
    --color-dark-black:#2F303A;
    --color-accent-black: #000000;
    --color-light-gray: #F5F4FA;
    --color-feature:#757575;
}

*, ::after, ::before {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

/* h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
} */

ul {
list-style: none;
}



body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-main-dark);
    }  

button {
    cursor: pointer;
            font-size: 16px;
            line-height: 1.62;
            text-align: center;
            letter-spacing: 0.03em;
}


 .accent{
    color: var(--color-accent);
 }

.header {
    border: 1px solid #ECECEC;
}

.header-container {
    display: flex;
    align-items: center;
    
}

 .header a, 
  footer a {
    text-decoration: none;
    color: inherit;

 }

 .header a {
    padding-top: 24px;
    padding-bottom: 25px;
    display: block;
    
 }

.header-nav-link{
       
        font-weight: 500;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.02em;
        text-decoration: none;
       
}

.list {

display: flex;
flex-wrap: wrap;
gap: 30px;

}

.header-contact-list {
    
column-gap: 50px;
margin-left: auto;


}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px solid red; */
    margin: 0 auto;
    
}

.logo {
font-family: Raleway;
font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-right: 93px;

}



.header-nav{
list-style: none;
display: flex;
column-gap: 50px;

}

.header .header-contact-link {
    
       align-items: center;
        display: flex;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--color-feature);
        
        

}
.header-nav-link:hover,
.header-nav-link:focus,
.header-contact-link:hover,
.header-contact-link:focus{
        
    color: var(--color-accent);
   
}

.header-contact-link {
    
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
     color: rgba(255, 255, 255, 0.6);
    
     
}

.hero {
   max-width: 1600px;
   margin: 0 auto;
    
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(to bottom,rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),url(../images/img-overlay.jpg);
    
    background-color: var(--color-dark-black);
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-text {
    max-width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;

}

.hero-btn{
    min-width: 216px; ;
    height: 50px; ;
    display: flex;
    align-items: center;
    margin: 0 auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    padding: 10px 28px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: var(--color-white);
    background-color: var(--color-accent);
}

.benefits{
    padding: 94px 0;
}

.advantages-img-container {
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    width: 270px;
     height: 120px;
    background-color: var(--color-light-gray) ;

}

.benefits-list {
    display: flex;
    column-gap: 30px;
   
   
}

.benefits-header {
margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-main-dark);
}


.benefits-text {
    max-width: 270px;
    max-height: 98px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-feature)
   }

   .section {
    padding-bottom: 94px;
   }

.section-header {
   margin-bottom: 50px;
       font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        
}

.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--color-light-gray) ;
}

.name-profession {
padding-top: 30px;
padding-bottom: 16px;
}

.parameters {
    padding-bottom: 30px;
   background-color: var(--color-white);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}



.team-name {
   margin-bottom: 10px;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        letter-spacing: 0.03em;
        text-align: center;
    
}
.team-position {
       
        font-size: 16px;
        line-height: 1.18;
        letter-spacing: 0.03em;
        text-align: center;
        color: var(--color-feature);
}



.social-icon-list {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    

}


.social-icon-link {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    cursor: pointer;
    
}

.social-icon-link:hover,
 .social-icon-link:focus {
    background-color: var(--color-accent);
    
}

.social-icon-link:hover .team-social-icon,
.social-icon-link:focus .team-social-icon
 {
    fill: var(--color-white);
}

.team-social-icon {
fill: #AFB1B8;
}



.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--color-dark-black);
    color: rgba(255, 255, 255, 0.6);
    
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.logo-address {
    margin-right: 70px;
}


.footer-logo {
    display: block;
    font-family: 'Raleway';
        font-style: normal;
        padding-bottom: 20px;
       font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--color-white);
   
}
.address {
    font-weight: 400;
        font-style: normal;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--color-white);
}

.address-footer {
    margin-bottom: 9px;
}

.title-footer {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
            line-height: 1.14px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
        color: var(--color-white);

}

.footer-list > li:not(:last-child) {
margin-bottom: 9px;
}

.filters {
padding: 94px 0;

}




.list-portfolio {
    margin-bottom: 50px;
    column-gap: 8px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
         
}



.varieties:hover,
.varieties:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
     0px 4px 4px rgba(0, 0, 0, 0.06), 
     1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-link {
    text-decoration: none;
}

.filters-btn {
    font-family: 'Roboto';
        font-style: normal;
        padding: 6px 22px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        letter-spacing: 0.03em;
        text-align: center;
    color: var(--color-main-dark);
    font-family: inherit;
    border: none;
    border-radius: 4px;
        height: 38px;
        left: 957px;
        top: 174px;
       
    background-color: var(--color-light-gray);
    
     }

         .filters-btn:hover,
         .filters-btn:focus {
             background-color: var(--color-accent);
             color: var(--color-white);
             box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                 0px 1px 2px rgba(0, 0, 0, 0.08),
                 0px 2px 2px rgba(0, 0, 0, 0.12);
    
         }
        
  
  .varieties {
        display: block;
        width: 370px;
        background-color: var(--color-white);
        border: 1px solid #EEEEEE;
        
  }
  
  .name-description {
    padding: 20px 24px 20px 24px;
   
  }

.options-name {
    
    font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--color-main-dark);
}

.options-addition {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--color-feature);
    
}
   
.contact-icon {
    margin-right: 10px;
   align-items: center;
fill: currentcolor;

   }

.regular-customers {
    padding: 94px 0;
    
}


.customers-list {
    display: flex;
    column-gap: 30px;
    align-items: center;
        justify-content: space-between;
    }

.list-regular {
    border: 1px solid #AFB1B8;
    border-radius: 4px;
   
    
   
}

.list-regular > a {
    display: block;

}


.list-regular {
    display: flex;
    align-items: center;
        justify-content: center;
        width: 170px;
        height: 92px;
        cursor: pointer;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
       
}

.list-regular:hover, 
.list-regular:focus {
border-color: var(--color-accent);
}

.list-regular:hover .customer-icon,
.list-regular:focus .customer-icon {
fill: var(--color-accent);
}

.customer-icon {
    fill: #AFB1B8;
}

   .social-footer-list {
       display: flex;
       justify-content: center;
       column-gap: 10px;
       margin-top: 20px;

   }


   .social-footer-link {
       display: block;
       display: flex;
       align-items: center;
       justify-content: center;
       background-color: rgba(255, 255, 255, 0.1);
       width: 44px;
       height: 44px;
       border-radius: 50%;
       cursor: pointer;
   }

   .social-footer-link:hover,
   .social-footer-link:focus {
       background-color: var(--color-accent);

   }

   .social-footer-link:hover .team-footer-icon,
   .social-footer-link:focus .team-footer-icon {
       fill: var(--color-white);
   }

   .team-footer-icon {
       fill: #FFFFFF;
   }

